<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=farm.name%></h1>
    <h3>City:<%=farm.city%></h3>
    <h3>Email:<%=farm.email%></h3>
   
    <h1>Products</h1>
    <ul>
       <% for(let product of farm.products){ %>
            <li><a href="/products/<%=product._id%>"><%= product.name%></a></li>
       <% } %>
    </ul>
    <a href="/farms/<%=farm._id%>/products/new">Add Product</a>
    <a href="/farms">ALL FARMS</a>
    <form action="/farms/<%=farm._id%>?_method=DELETE" method="POST">
    <button>DELETE</button></form>
</body>
</html>